@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  background-color: #eeeeee;
  margin-left: 15%;
  margin-right: 5%;
}

#container {
  display: flex;
  min-height: 100%;
}

#sidebar, main {
  padding-top: 20px;
}

#sidebar {
  width: 18%;
  margin-right: 2%;
}

#sidebar h1 {
  font-size: 1.2em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: .5em;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

main {
  width: 80%;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

#mainInner {
  padding-left: 3%;
  padding-right: 3%;
}

#tglbar {
  font-size: 1.2em;
  display: flex;
  height: 40px;
  line-height: 35px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

#addBtn {
  margin-left: auto;
  margin-right: 3%;
  position: relative;
}

.cursor {
  cursor: pointer;
}

.popup {
  width: 350px;
  height: 100px;
  padding: 10px 20px;
  position: absolute;
  right: -50px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 2px rgba(0,0,0,.15);
  border-radius: 5px;
}

.popup:before {
  content: '';
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: -8px;
  position: absolute;
  right: 40px;
}

#taskName {
  font-size: 0.8em;
  width: 85%;
  margin-top: 15px;
  border: 2px solid #2891c5;
  padding: 5px 10px;
  border-radius: 5px;
}

#addTaskBtn {
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #2891c5;
  color: #2891c5;
  padding: 1em 2em;
  border-radius: 5px;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#addTaskBtn:hover {
  background-color: #2891c5;
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#addTaskBtn:disabled {
  background-color: transparent;
  border: 2px solid hsl(200, 10%, 75%);
  color: hsl(200, 10%, 75%);
}

#taskList {
  list-style-type: none;
}

.task {
  padding: 1em 2em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.done {
  text-decoration: line-through;
}